.Cards-body-centering{
    text-align: center;
    margin-bottom: 10%;
}
.font-icons-style{

    color: #04B404 !important;
    margin-bottom: 20%;
}
.profit-Card-header-heading{
    
    letter-spacing: 1px;
    font-family: merienda;
    text-transform: uppercase;
    font-weight: bold;
}
